<div class="page-header">
  <%= link_to "<button class=\"nav nav-pills pull-right btn btn-primary\" style=\"margin-left:10px;\">#{I18n.t(:'ticket_type.show.btn')}</button>".html_safe, @ticket_type %>
  <%= link_to "<button class=\"nav nav-pills pull-right btn btn-primary\">#{I18n.t(:'ticket_type.index.btn')}</button>".html_safe, ticket_types_path %>
  <h1><%= I18n.t(:'ticket_type.edit.title') %> <em><%= @ticket_type.name %></em></h1>
</div>

<%= render 'form' %>
