<div class="page-header">
  <h1>Listing ticket types</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_types.each do |ticket_type| %>
  <tr>
    <td><%= ticket_type.name %></td>
    <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, ticket_type, :rel => 'tooltip', :title => 'Voir le type' %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_ticket_type_path(ticket_type), :rel => 'tooltip', :title => 'Modifier le type' %></td>
    <td><%= link_to '<i class="icon-remove"></i>'.html_safe, ticket_type, :rel => 'tooltip', :title => 'Supprimer le type' , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @ticket_types, :renderer => BootstrapPagination::Rails %>
<br />

<%= link_to 'New Ticket type', new_ticket_type_path %>
