<div class="page-header">
  <%= link_to "<button class=\"nav nav-pills pull-right btn btn-primary\">#{I18n.t(:'ticket_priority.new.btn')}</button>".html_safe, new_ticket_priority_path %>
  <h1><%= I18n.t(:'ticket_priority.index.title') %></h1>
</div>

<div class="well">
<table class="table table-striped">
  <tr>
    <th><%= I18n.t(:'ticket_priority.global.name') %></th>
    <th colspan="3"><%= I18n.t(:'global.actions') %></th>
  </tr>

<% @ticket_priorities.each do |ticket_priority| %>
  <tr>
    <td><%= ticket_priority.name %></td>
    <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, ticket_priority, :rel => 'tooltip', :title => I18n.t(:'ticket_priority.show.btn') %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_ticket_priority_path(ticket_priority), :rel => 'tooltip', :title => I18n.t(:'ticket_priority.edit.btn') %></td>
    <td><%= link_to '<i class="icon-remove"></i>'.html_safe, ticket_priority, method: :delete, data: { confirm: I18n.t(:'global.confirm') }, :rel => 'tooltip', :title => I18n.t(:'ticket_priority.delete.btn') %></td>
  </tr>
<% end %>
</table>
</div>

<%= will_paginate @ticket_priorities, :renderer => BootstrapPagination::Rails %>
